/node_modules
/storage/*.key
/vendor
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/temp-repo
commit_message.txt
docs/JsonProject.txt
bootstrap/cache/*.php
